nav .item {
  display: flex;
}
nav ul li {
  list-style-type: none;
}
nav ul li a {
  text-decoration: none;
  margin-right: 1rem;
  color: black;
}
.dropdown {
  display: none;
  position: absolute;
  background: lightslategray;
}
nav > ul > li:hover > .dropdown {
  display: block;
}
nav ul li:hover .dropdown.mega-menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
}
.mega-menu h3 {
  font-size: 16px;
  color: goldenrod;
  margin-bottom: 0;
}
